*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif
}
/*Homepage style*/
header{
    background-image: url("img/landing.jpg");
    height: 100vh;
    background-size:cover;
   
}
#hamburger{
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    margin: 1.2em;
}
.navbar {
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
    display: none;
    padding-top: 4.5em;
    padding-left: 2em;
}
.main-nav:hover{
    color: #f15a29;
}
.nav-links{
    text-decoration: none;
    color: #ffffff;
}
.active {
    display: block;
  }
#big-logo{
    margin-left: 40%;
    margin-top: 10%;
    
   
   

}
.writings{
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.5em;
}
.flex-container{
    display: flex;
}
.flex-items{
    width: 25%;
    height: 8em;
    text-align: center;
    padding-top: 1.5em;
    
}
#happy{
    background-color: #f15a29;
    line-height: 3em;
    
}
#breakfast{
    background-image: url("img/breakfast.jpg");

    
}
#lunch{
    background-image: url("img/lunch.jpg");
    
}
#dinner{
    background-image: url("img/dinner.jpg");

}
/*fastfood style*/

/* subscription and footer style*/
.subscription{
    background: url("img/subscribe.jpg");
    background-size: cover;
    color: #ffffff;
    padding: 1.5em;
    font-weight: bold;
    text-align: center;

}
.subscription p{
    font-size: 1.52em;
}
form{
    font-size: 1.5em; 
}
#email{
    width: 27%;
    opacity: 0.2;
    padding: 0.5em;
}
button{
    background-color: #f15a29;
    border:none;
    margin-left: 1.5em;
    color: #ffffff;
    padding: 0.5em;

}
footer{
    background-color: #f15a29;
    color: white;
    text-align: center;
    padding-top: 1.75em;
    font-weight: bold;
    font-size: 1.5em;
}
.icons img{
    width: 3.5%;
    height: 5.5%;
}
#menu{
    color: #000000;
    padding-bottom: 0.5em;

}
@media only screen and (max-width:600px){
    #big-logo{
      margin-left: 20%;  
      width: 50%;
      margin-top: 25%;
    }
    .writings{
        font-size: 1.5em;
    }
    .flex-container{
        flex-direction: column;
    }
    .flex-items{
        width: 100%;
    }
    #email{
        width: 100%;
    }
    button{
        margin-top: 1.5em;
    }

    .icons img{
        width: 5%;
    }



}